{% extends "base.html" %}

{% block title %}Personal Work - Fiona's Projects{% endblock %}

{% block hero_title %}Personal Work{% endblock %}
{% block hero_subtitle %}A showcase of my personal projects{% endblock %}

{% block content %}
  <!-- ======= Personal Work Section ======= -->
  <section id="personal-work" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Personal Work</h2>
        <p>This section showcases my personal projects and experiments</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-concept">Concept Art</li>
            <li data-filter=".filter-animation">Fan Art</li>
          </ul>
        </div>
      </div>
      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-concept">
          <div class="portfolio-wrap">
            <img src="/static/img/personal-work/averyfun-2.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Avery Shieilding Their Eyes</h4>
              <p>Concept Art</p>
              <div class="portfolio-links">
                <a href="static/img/personal-work/averyfun-2.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Airship Scene"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-concept">
          <div class="portfolio-wrap">
            <img src="/static/img/personal-work/battle.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Battle</h4>
              <p>Concept Art</p>
              <div class="portfolio-links">
                <a href="static/img/personal-work/battle.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Airship Scene"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-concept">
          <div class="portfolio-wrap">
            <img src="/static/img/personal-work/thebadboys.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>The Bad Boys</h4>
              <p>Concept Art</p>
              <div class="portfolio-links">
                <a href="static/img/personal-work/thebadboys.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Airship Scene"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-concept">
          <div class="portfolio-wrap">
            <img src="/static/img/personal-work/thebadgirls.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>The Bad Girls</h4>
              <p>Concept Art</p>
              <div class="portfolio-links">
                <a href="static/img/personal-work/thebadgirls.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Airship Scene"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Personal Work Section -->


    </div>
  </section><!-- End Personal Work Details Section -->

{% endblock %}