{% extends "base.html" %}

{% block title %}Portfolio - Fiona's Projects{% endblock %}

{% block hero_title %}My Portfolio{% endblock %}
{% block hero_subtitle %}Explore my creative works{% endblock %}

{% block content %}
  <!-- ======= My Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>My Portfolio</h2>
        <p>Expressing my ideas one project at a time</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-animation">Animation</li>
            <li data-filter=".filter-background">Background Art</li>
            <li data-filter=".filter-character">Character Design</li>
            <li data-filter=".filter-storyboard">Storyboard</li>
            <li data-filter=".filter-live">Live Drawing</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">
        <!-- Video Player Item -->
        <div class="col-lg-4 col-md-6 portfolio-item filter-animation">
          <div class="portfolio-wrap">
            <img src="/static/video/parallax.png" class="img-fluid" alt="Parallax Animation">
            <div class="portfolio-info">
              <h4>Parallax Animation</h4>
              <p>Animation</p>
              <div class="portfolio-links">
                <a href="javascript:void(0);" class="play-video" data-video-src="/static/video/parallax.m4v" title="Play Video"><i class="bx bx-play"></i></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Existing portfolio items... -->
        <div class="col-lg-4 col-md-6 portfolio-item filter-background">
          <div class="portfolio-wrap">
            <img src="/static/img/portfolio/airship.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Airship Scene</h4>
              <p>Background Art</p>
              <div class="portfolio-links">
                <a href="static/img/portfolio/airship.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Airship Scene"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-background">
          <div class="portfolio-wrap">
            <img src="static/img/portfolio/cabin.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Homestead in the Woods</h4>
              <p>Background Art</p>
              <div class="portfolio-links">
                <a href="static/img/portfolio/cabin.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Homestead in the Woods"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-background">
          <div class="portfolio-wrap">
            <img src="static/img/portfolio/campfire.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Campfire</h4>
              <p>Background Art</p>
              <div class="portfolio-links">
                <a href="static/img/portfolio/campfire.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Campfire"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-background">
          <div class="portfolio-wrap">
            <img src="static/img/portfolio/target.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>*arget</h4>
              <p>Background Art</p>
              <div class="portfolio-links">
                <a href="static/img/portfolio/target.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="*arget"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-background">
          <div class="portfolio-wrap">
            <img src="static/img/portfolio/library.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Library</h4>
              <p>Background Art</p>
              <div class="portfolio-links">
                <a href="static/img/portfolio/library.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Library"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-background">
          <div class="portfolio-wrap">
            <img src="static/img/portfolio/van.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Van</h4>
              <p>Background Art</p>
              <div class="portfolio-links">
                <a href="static/img/portfolio/van.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Van"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-background">
          <div class="portfolio-wrap">
            <img src="static/img/portfolio/building.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Downtown</h4>
              <p>Background Art</p>
              <div class="portfolio-links">
                <a href="static/img/portfolio/building.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Downtown"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-background">
          <div class="portfolio-wrap">
            <img src="static/img/portfolio/truck.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Truck</h4>
              <p>Background Art</p>
              <div class="portfolio-links">
                <a href="static/img/portfolio/truck.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Truck"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-character">
          <div class="portfolio-wrap">
            <img src="static/img/portfolio/character-design/character-design-amile.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Amile</h4>
              <p>Character Design</p>
              <div class="portfolio-links">
                <a href="static/img/portfolio/character-design/character-design-amile.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Amile"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-character">
          <div class="portfolio-wrap">
            <img src="static/img/portfolio/character-design/character-design-jelly-fish-princess.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Jelly Fish Princess</h4>
              <p>Character Design</p>
              <div class="portfolio-links">
                <a href="static/img/portfolio/character-design/character-design-jelly-fish-princess.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Jelly Fish Princess"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-character">
          <div class="portfolio-wrap">
            <img src="static/img/portfolio/character-design/character-design-meinew.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Mei</h4>
              <p>Character Design</p>
              <div class="portfolio-links">
                <a href="static/img/portfolio/character-design/character-design-meinew.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Mei"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-character">
          <div class="portfolio-wrap">
            <img src="static/img/portfolio/character-design/character-design-avery.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Avery</h4>
              <p>Character Design</p>
              <div class="portfolio-links">
                <a href="static/img/portfolio/character-design/character-design-avery.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Avery"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-character">
          <div class="portfolio-wrap">
            <img src="static/img/portfolio/character-design/character-design-fiona.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Fiona</h4>
              <p>Character Design</p>
              <div class="portfolio-links">
                <a href="static/img/portfolio/character-design/character-design-fiona.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Fiona"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-live">
          <div class="portfolio-wrap">
            <img src="static/img/portfolio/live-model/live-model-01.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Masked Man</h4>
              <p>Live Drawing</p>
              <div class="portfolio-links">
                <a href="static/img/portfolio/live-model/live-model-01.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Masked Man"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-live">
          <div class="portfolio-wrap">
            <img src="static/img/portfolio/live-model/live-model-02.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Woman in Sweater</h4>
              <p>Live Drawing</p>
              <div class="portfolio-links">
                <a href="static/img/portfolio/live-model/live-model-02.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Woman in Sweater"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 portfolio-item filter-storyboard">
          <div class="portfolio-wrap">
            <img src="static/img/forgotten-lands/story1.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Forgotten Lands 1</h4>
              <p>Storyboard</p>
              <div class="portfolio-links">
                <a href="static/img/forgotten-lands/story1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Woman in Sweater"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-storyboard">
          <div class="portfolio-wrap">
            <img src="static/img/forgotten-lands/story2.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Forgotten Lands 2</h4>
              <p>Storyboard</p>
              <div class="portfolio-links">
                <a href="static/img/forgotten-lands/story2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Woman in Sweater"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>


        <!-- Note: Add storyboard items here with class "portfolio-item filter-storyboard" -->

      </div>

    </div>
  </section><!-- End My Portfolio Section -->

  <!-- Video Modal -->
  <div id="videoModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <video id="videoPlayer" controls>
        <source src="" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

{% endblock %}