{% extends "base.html" %}

{% block title %}Forgotten Lands - Fiona's Portfolio{% endblock %}

{% block hero_title %}Forgotten Lands{% endblock %}
{% block hero_subtitle %}In-depth look at project progress{% endblock %}

{% block content %}
  <!-- ======= Project Details Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">
      
      <div class="section-title">
        <span>Forgotten Lands</span>
        <h2>Animated Series</h2>
        <p>The story of Avery and Mei</p>
      </div>

      <div class="portfolio-details row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="/static/img/forgotten-lands/Forgotten Lands Pitch-1.png" alt="Pitch Bible Page one">
              </div>

              <div class="swiper-slide">
                <img src="/static/img/forgotten-lands/Forgotten Lands Pitch-2.png" alt="Pitch Bible Page one">
              </div>

              <div class="swiper-slide">
                <img src="/static/img/forgotten-lands/Forgotten Lands Pitch-3.png" alt="Pitch Bible Page one">
              </div>

              <div class="swiper-slide">
                <img src="/static/img/forgotten-lands/Forgotten Lands Pitch-4.png" alt="Pitch Bible Page one">
              </div>

              <div class="swiper-slide">
                <img src="/static/img/forgotten-lands/Forgotten Lands Pitch-5.png" alt="Pitch Bible Page one">
              </div>

              <div class="swiper-slide">
                <img src="/static/img/forgotten-lands/Forgotten Lands Pitch-6.png" alt="Pitch Bible Page one">
              </div>

              <div class="swiper-slide">
                <img src="/static/img/forgotten-lands/Forgotten Lands Pitch-7.png" alt="Pitch Bible Page one">
              </div>

              <div class="swiper-slide">
                <img src="/static/img/forgotten-lands/Forgotten Lands Pitch-8.png" alt="Pitch Bible Page one">
              </div>

              <div class="swiper-slide">
                <img src="/static/img/forgotten-lands/Forgotten Lands Pitch-9.png" alt="Pitch Bible Page one">
              </div>

              <div class="swiper-slide">
                <img src="/static/img/forgotten-lands/story1.png" alt="storyboard sequence one for Forgotten Lands">
              </div>

              <div class="swiper-slide">
                <img src="/static/img/forgotten-lands/story2.png" alt="storyboard sequence two for Forgotten Lands">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Animated Series</li>
              <li><strong>Client</strong>: Personal Project</li>
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>"Forgotten Lands" - Animated Series</h2>
            <p>
              Forgotten Lands is a passion project of mine that blends my love of complex worldbuilding and dynamic characters. This project is an animated series pitch that weaves together themes of friendship, magic, and self-discovery. Set in a richly imagined world brimming with mythical creatures, changelings, and faeries, the series follows two best friends, Mei and Avery, as they embark on action-packed adventures after stumbling into a realm that exists parallel to their own.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Project Details Section -->

{% endblock %}